.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    padding: 10px;
    max-width: 80%;
    margin: auto;
}

@media (max-width: 800px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}